script.
  var language = "<?= $current_language ?>";
  var recruited = "<?= $recruited ?>";
  var tournament_date = "<?= $tournament_date ?>";

script(
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
)
script(
  src="/js/lib/cookie/jquery.cookie.js"
)
script(
  src="/js/lib/scrollbar/jquery.mousewheel.min.js"
)
script(
  src="/js/lib/scrollbar/jquery.mCustomScrollbar.min.js"
)
script(
  src="/js/lib/flipclock/flipclock.min.js"
)
script(
  src="/js/lib/flipclock/teams.js"
)
script(
  src="/js/script.js"
)